.content-box {
  width: 100%;
  height: 100vh;
  background-color: rgb(36, 46, 60);

  .main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15vh 30vw 30vh;

    .title {
      margin: 8vh 3vw 1vh;
      min-width: 80vw;
      font-size: 36px;
      font-weight: 700;
      color: #eee;
    }

    .el-form {
      margin: 5vh 0 3vh;
      width: 80vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .el-form-item {
        width: 90%;
        margin: 1vh 0;
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #454545;

        .el-input {
          width: 80vw;
          height: 7vh;
          font-size: 1rem;
        }
        .loginBtn {
          width: 100%;
        }
      }
    }
  }
}
